div.dataBlob1{
    border-radius: 0px 40px 40px 40px;
-moz-border-radius: 0px 40px 40px 40px;
-webkit-border-radius: 0px 40px 40px 40px;
border: 0px solid #000000;
}

div.dataBlob2{
     border-radius: 40px 40px 0px 40px;
-moz-border-radius: 40px 40px 0px 40px;
-webkit-border-radius: 40px 40px 0px 40px;
border: 0px solid #000000; 
}

button.enroll-now {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.enroll-now {
  padding: 1.4em 2.8em;
  border: 2px solid #161021;
  border-radius: 0.75em;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffff;
  text-transform: uppercase;
  background: #3F2E60;
  transform-style: preserve-3d;
  transition: .15s cubic-bezier(0, 0, .6, 1);
}

button.enroll-now::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #4d3876;
  box-shadow: 0 0 0 2px #b18597, 0 .625em 0 0 #feefef;
  transform: translate3d(0, .75em, -1em);
  transition: .15s cubic-bezier(0, 0, .6, 1);
}



button.enroll-now:hover {
  background: #5e4b85;
  transform: translate(0, .25em);
}

button.enroll-now:hover::before {
  box-shadow: 0 0 0 2px #5e4b85, 0 .5em 0 0 #f9ebea;
  transform: translate3d(0, .5em, -1em);
}

button.enroll-now:active {
  background: #5f4691;
  transform: translate(0, .75em);
}

button.enroll-now:active::before {
  box-shadow: 0 0 0 2px #5f4691, 0 0 #ffeaea;
  transform: translate3d(0, 0, -1em);
}